
body {
    font-family: Arial, sans-serif;
}
#navbar {
    overflow: hidden;
    background-color: rgb(84, 36, 173);

}
#mainimg{
    float: left;
    margin-right: 30px;
}


#map {
    height: 800px;
    width: 100%;
}
#navbar #weatherBox{
    float: right;
}
#weather, #statistics {
    padding: 20px;
}
#sidebar {
    float: left;
    width: 30%;
    height: 970px;
    background-color: blue;
}
#content {
    float: left;
    width: 70%;
    height: 400px;
}
#footer {
    clear: both;
    text-align: center;
}
